.section-mission-purpose{
    padding: 10rem 0;
    // background-color: $color-grey-light-1;
    background-color: white;
    grid-row: 3 / 4;
    grid-column: center-start / center-end;


    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 10rem;
    // grid-template-rows: repeat(3, min-content);


    @media screen and (max-width: $bp-medium-large){
        padding: 2rem 0;
    }


    &__heading{
        text-align: center;
        grid-column: 1 / -1;
        font-size: 3.5rem;
        color:$color-heading-1;
        font-weight: 300;
        font-style: italic;
        letter-spacing: .2rem;
        text-transform: uppercase;


        @media screen and (max-width: $bp-medium-large){
            font-size: 2rem;
        }

    }
}