.info-card{

    grid-row: 2 / 3;
    grid-column: 4 / 6;

    &__name{
        font-size: 4rem;
        letter-spacing: .2rem;
        font-weight: 400;
        margin-bottom: -1rem;
        
    }

    &__realtor{
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        color: $color-primary;
        margin-bottom: 1.5rem;
    }

    &__info{
        font-size: 1.5rem;

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    
}