.tease{

    grid-row: 2 / 3;
    grid-column: 2 / 4;

    color: white;
    text-transform: uppercase;
    font-family: $font-secondary;


    &__name{
        font-size: 3rem;
        letter-spacing: .5rem;
    }

    &__more{
        display: flex;
        align-items: center;
    }
    &__hook{
        font-size: 3.5rem;
        letter-spacing: .2rem;
    }

    &__btn{
        margin-left: 2rem;
        cursor: pointer;
    }

    


}

