.tease{

    grid-row: 2 / 3;
    grid-column: 2 / 4;

    color: white;
    text-transform: uppercase;

    &__name{
        font-family: $font-primary;
        font-size: 3rem;
        letter-spacing: .5rem;
    }
    &__hook{
        font-family: $font-primary;
        font-size: 3.5rem;
        letter-spacing: .2rem;
 

    }
}