//colors
$color-primary: #f40b56;

$background-color-info: #dbdddf;
// $background-color-info:#f7f7f7;


//fonts


$font-primary: 'Roboto', sans-serif;
$font-secondary:  'Lexend Tera', sans-serif;




