//colors
$color-primary: red;

$background-color-info: #dbdddf;

$color-grey-light-1: #f9f7f6;

$color-grey-dark-1: #54483A;


//fonts


$font-primary: 'Roboto', sans-serif;
$font-secondary:  'Lexend Tera', sans-serif;




